
* { margin: 0; padding: 0; }

body{
background:#E4B49B;
width: 100%;
height: 100%;
}

#container{
	position: absolute;
	top:120px;
	width: 100%;
	min-height:100%;
	background: firebrick;
	display: inline-block;
}

.userlist{
	position: relative;
	width: 70%;
	min-height: 100%;
	background: forestgreen;
	margin-left: 5%;
	float: left;
	
}

.userlist #listbox{
	position: relative;
	width: 90%;
	min-height: 100%;
	background: dimgray;
	margin-left:5%;
	margin-top: 100px;
	float: left;
	}
.item {
width:20%;
margin:10px;
background: red;
height: 400px;
float: left;
}
.item.w{
	width: 30%;
    background: floralwhite;    
    height: 200px;
}



.achinfo{
	position: relative;
	float: left;
	display: inline;
	margin-left:1%;
	width: 20%;
	min-height: 100%;
	background: saddlebrown;
	padding: 10px;
}
.personal{
	top:50px;
	width:95%;
	height:200px;
	background: honeydew;

}