
* { margin: 0; padding: 0; }

body{
background:#E4B49B;
width: 100%;
height: 100%;
cursor: pointer;
}

#container{
	position: absolute;
	top:120px;
	width: 100%;
	min-height:100%;
	background: firebrick;
	display: inline-block;
}

.userlist{
	position: relative;
	width: 70%;
	min-height: 100%;
	background: forestgreen;
	margin-left: 5%;
	float: left;
	
}

.userlist #listbox{
	position: relative;
	width: 90%;
	min-height: 100%;
	background: dimgray;
	margin-left:5%;
	margin-top: 100px;
	float: left;
	}
.item {
width:250px;
margin:10px;
background: orchid;
height: 400px;
float: left;
}
.w{
	width: 200px;
    background: floralwhite;    
    height: 200px;
}
.h{
	height: 500px;

}
.item1{
width:300px;
margin:10px;
background: oldlace;
float: left;
}

  .add{
	width:30px;
	height: 30px;
	background: burlywood;
	position: relative;
	top: 10px;
	float: right;
	right: 10px;
}

.do{
	position: relative;
	bottom: -85%;
	width: 100%;
	height:15%;
	background: blue;
	opacity: 1;
}


.say{
	position:relative;
	width: 100%;
    height:10%;
    background: greenyellow;
    bottom: -85%;
    opacity: 0;
}
 .sopanel{
	position: relative;
	height: 100%;
	width: 100%;
	background: red;
  top: 0%;
  opacity: 1;
}


.item:hover .say{	
	bottom: -76%;
	opacity: 1;
}




.achinfo{
	position: relative;
	float: left;
	display: inline;
	margin-left:1%;
	width: 20%;
	min-height: 100%;
	background: saddlebrown;
	padding: 10px;
}
.personal{
	top:50px;
	width:95%;
	height:200px;
	background: honeydew;
}

span{
	
}