@charset UTF-8;

* {
margin:0;
padding:0;
}

html,body {
background:#3F5F51;
width:100%;
height:100%;
}

#container {
position:absolute;
top:100px;
min-height:100%;
background:#0F1F13;
overflow-y:hidden;
padding:10px 15px;
}

.content {
position:relative;
min-height:100%;
background:#fff;
overflow-y:hidden;
padding:15px 5px;
}



/*box 2 post deed & user div*/

.user {
position:relative;
width:50%;
min-height:100%;
float:left;
overflow:hidden;
padding-bottom:10px;
display:block;
}


.deedpost {
width:90%;
height:150px;
margin:10px 5px;
}

.postsomething .postimg {
width:70px;
height:70px;
position:relative;
left:20px;
top:20px;
background:#F90;
}
.textdeed{
  width: 40px;
  height: 40px;
  position: relative;
  left:10px;

}
.postmessage{
  padding: 5px;

}

.tripost {
width:0;
height:0;
border-color:transparent #007bff transparent transparent;
border-style:solid;
border-width:0 28px 18px 0;
position: relative;
left:82px;
top:-30px;
}
/*user posted deeds*/
.posted {
margin-top:0px;
width:100%;
height:100px;
margin-top:5px;
position:relative;
left:10px;
overflow:hidden;
padding:15px 10px;
 border-top :1px solid #39e5a3;

}
.mypic{
  position: relative;
   width: 80px;
   height: 80px;
   background:#0F1F13;
}
.date,.tags {
float:left;
width: auto;
position:relative;
height:30px;
line-height:30px;
background:green;
font-size:17px;
top: -90px;
left:100px;

}

.posted .date {
width:100px;
float:left;
}

.posted .tags {
width:auto;
margin-left:10px;
}

.tags p {
word-spacing:5px;
}

.postedinfo{
  position: relative;
  background: red;
  top: -80px;
  width: 80%;
  left:100px;
  min-height: 100%;
  overflow: hidden;
  padding: 10px;
  
}
.postedinfo p{
  float: left;
}

/*close posted deeds*/
.close{
  position: relative;
  background: #0F1F13;
  width: 48%;

  overflow-y: hidden;
  padding: 10px;
  display: inline-block;
  float: right;
  top: 0px;
}

.postsomething textarea{
  position: relative;
  top:-50px;
  resize: none;
  left:110px;
  -moz-border-radius: 0px 5px 5px 5px;
-khtml-border-radius: 0px 5px 5px 5px;
-webkit-border-radius:0px 5px 5px 5px;
border-radius: 0px 5px 5px 5px;
width: 80%;
}
.postmessage{
  outline: none;
   border :1px solid #ff9900;
}
.close .closeposts {
width:90%;
height:200px;
background:red;
position:relative;
overflow:hidden;
margin:10px;
float:left;
display: block;
padding:5px 10px;
}


.close .closepic {
position:relative;
width:80px;
height:80px;
background:#0F1F13;
-moz-border-radius:50%;
-khtml-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
z-index:3;
}
.close .closeposted {
position:relative;
top:-40px;
width:90%;
height:60%;
z-index:1;
left:30px;
background:green;
overflow:hidden;
padding:10px 5px;

}
.closebox {
position:relative;
width:95%;

background:#fff;
min-height: 100%;
overflow: hidden;
margin:25px 15px;

}



#downslider {
width:100px;
height:80px;
right:20px;
bottom:0;
position:absolute;
background:#694B19;
}

/*friends*/

.friends{

background: red;
  position: relative;
  
  width: 48%;

  overflow-y: hidden;
  padding: 10px;
  display: inline-block;
  float:left;
  top: 0px;
  margin-left:6px;

}
