@charset "UTF-8";
*{
margin: 0;
padding: 0;
}
html,body{
background:#946AB2;
height: 100%;
cursor: pointer;
}
.intro{
   width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
    box-sizing: border-box;
	background:url(../images/soc.jpg) 0 repeat fixed;
	height:100%;
	position:relative ;
	margin: 0 auto;
  }
.big{
	position: relative;
	background-image:url(../images/big.png);
	background-size: cover;
	width:600px;
	height: 600px;
	top:-4%;
	left:20%;
	
}
.words{
	margin-top: -15%;
	margin-left: 20%;
}
.words p{
	line-height: auto;
	font-size: 60px;
	
	 font-family: 'candela_boldbold';
	 color:#fff;
	 font-weight:3em;

	

}

.set{
  width:186px;
  height:50px;
position:absolute;
 padding-left: 20px;

 top:2px;
 right: 0;

  }
  .soicons li{
 display:inline-block;
position:relative;
margin:0;
padding:0;

   }
   
 .soicons li a{
 float:left;
width:52px;
height:52px;
margin-left: 5px;
background-position:0 0px;
background-repeat:no-repeat;

   }
.soicons li a:hover{
position:relative;
background-position:0 -52px;
/*-webkit-transition:all ease-in-out 0.2s;
 -o-transition:all ease-in-out 0.2s;
 -moz-transition:all ease-in-out 0.2s*/
}
.soicons .g{
background-image:url(../images/resp_about/g.png) ;
}
.soicons .twitter{
background-image:url(../images/resp_about/twit.png) ;
}
.soicons .fb{
background-image:url(../images/resp_about/fb.png) ;
}


.container {
position: absolute;
margin:0 auto;
padding: 0;
background: #298792;
height: auto;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;

}
.desc{
   
   height: auto;
   padding: 80px 70px 50px 70px;
    margin:0 auto;
   font-size: 3em;
   background: #34495e;
   text-align:center;
   font-family: 'candela_boldbold';

-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;


  }
.desc p{
   color:#fff;
   font-family: 'candela_boldbold';


}
.mission{
	box-shadow:inset  0px 6px 4px #4E3838;
	background:#e74c3c;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
	
	padding: 20px 30px 20px 30px;
}
.missionp{
	height: 50px;
	padding:10px;
	text-align: center;
	font-size: 50px;
	font-family: 'candela_boldbold';
	overflow:visible;
	color: #fff;
	margin-bottom: 20px;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;


}
.missionp p{
	line-height: auto;

}

 .missioninfo{

 	float:left;
   
 	height: auto;
 	background: #e74c3c;
 	padding:30px 160px;
 	box-shadow: 0px 6px 4px #4E3838;
 	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
        width:100%;
 	
 }


.row {
max-width:300px;
height:100%;
background:#2ecc71;
display:inline-block;
overflow:hidden;
margin-bottom:20px;
padding:20px;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;

}


 .row:hover {
-webkit-box-shadow:0 0 1.5em #000;
-moz-box-shadow:0 0 1.5em #000;
-o-box-shadow:0 0 1.5em #000;
box-shadow:0 0 1.5em #000;
-webkit-transition: all ease-in 300ms;
}


.row h1{
text-align: center;
	font-size: 2em
	font-family: 'open_sansbold';
	color: #34495e;
}
.row p{
	font-size: 1.1em;
	font-family: 'open_sans_condensedbold';
	color:#ecf0f1;
	margin: 10px;
}
.row .icon{
	width:160px;
	-moz-border-radius: 80px;
-khtml-border-radius: 80px;
-webkit-border-radius: 80px;
border-radius: 80px;
margin:20px 90px;
}
.addons{
	height: auto;
	
	float: left;
	width:100%;
   
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
    margin-bottom: 20px;
    background:#666666;
    box-shadow:inset  0px 9px 3px #4E3838, 0px 8px 2px  #4E3838;
    /*box-shadow:  0px 8px 2px  #4E3838;*/
}
.thing{
  display:table; 
  float: left;
  margin:4% 5%;
 height: auto;
 -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}
.photo{
  width: 64px;
  height: 64px;
  margin:30px 20px ;
  display: block;
  }
.para{
  width:200px;
  height: auto;
  background: #ecf0f1;
  position: relative;
  top:-10px;
  float: left;
  font-size: 15px;
  padding: 10px 5px;
font-family: 'open_sans_condensedbold';
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
border-radius: 5px;
  }
  .para:hover{
    -webkit-box-shadow:0 0 1.5em #000;
-moz-box-shadow:0 0 1.5em #000;
-o-box-shadow:0 0 1.5em #000;
box-shadow:0 0 1.5em #000;

 }
.tri{
width: 0px;
height: 0px;
border-style: solid;
border-width: 20px 0 0 20px;
border-color: transparent transparent transparent #ecf0f1;
top:-25px;
position: relative;
left:60px;
}
#heart{
width: 210px;
}

#pin .para{
  width: 210px;
}


.contact {
overflow:hidden;
background:#745684;
box-shadow:inset 0 8px 4px #4E3838;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
height:auto;
margin:0 auto;
padding:30px 10px 10px 50px;
}


 .contacthead {
background:#745684;
overflow:visible;
text-align:center;
height:auto;
box-shadow:inset 0 4px 4px #4E3838;
line-height:auto;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
padding:10px;
}


 .contacthead h1 {
font-size:60px;
margin-top:30px;
font-family:candela_boldbold;
overflow:visible;
color:#f1c40f;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
}



.form{
width:40%;
float:left;
padding:15px;
height: auto;


}
*:focus {outline: none;}

input[type=text] {
height:34px;
width:90%;
background: #2A1832;
text-decoration:none;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 outline:none;
 font-family: 'Open Sans', sans-serif;
 padding:5px 10px;
 border :1px solid #74488A;
}
::-webkit-input-placeholder {
  color: #703E7F;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
:-moz-input-placeholder{
  color: #703E7F !important;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  }
input[type=text]:focus {
-webkit-box-shadow:none;
background:#EEEA38;
color:#511E69;
}
.form textarea{
resize:none;
width: 100%;
line-height:1.3em;
font-family: 'Open Sans', sans-serif;
padding:5px 10px;
font-size:1.1em;
 outline:none;
 border :1px solid #74488A;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
-webkit-border-radius:8px;
border-radius: 8px;
background: #2A1832;
}
.message-holder{
	float:left;
	width:80%;
	padding: 10px;
}
.submit-holder{
   float: left;
	width: 90%;
	padding: 10px;
	}
	
.message{
	padding: 10px;
	height: 150px;
	resize: none;
}
.message:focus{
background:#EEEA38;
color:#511E69;
}
.submit{
   width:300px;
	margin:0 auto;
	float:none;
	display:block;
	border:none;
	outline:none;
	background:#CA4E47;
	color:#f9f9f9;
	padding:15px 10px;
	position: relative;
	margin-bottom: 40px;
	-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border:1px solid #9E4944;
box-shadow: 0 5px #59302E;
position: relative;

}
.submit:active {
	box-shadow: 0px 5px #745684;
	
}



.crew{
 background: #3498db ;
 height:auto;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;

 padding:50px 100px;

 
}
 .crew h2{
 	
 	line-height: 90px;
 	
 	margin-bottom: 10px;
 	color:#2d3e50;
    font-size: 50px;
 	text-align:center; 
 	font-family: 'lobster_1.4regular';
 	margin-top: 50px;

 }
.team{
	max-width: 400px;
	
    min-height: 430px;
    background:#fff;
    display: inline-block;
    margin-right: 20px;
    margin-top:10px;

}
#yogesh{
	margin-top: 10px;

}

.pic{
width:150px;
height:150px;
margin:20px 80px;  
background:#ff9900;

}
.desig h1{
line-height:30px;
text-align:center;
font-size:20px;
margin: 8px;
font-family: 'pt_sansbold';
}
.desig span{
color:#D85060;
font-size:0.8 em;
}
.content{
max-width:280px;
height:100%;
margin: 10px;
padding: 10px;

}
.content p{
font-size:1em;
font-family: 'pt_sans_captionregular';
align:center;
line-height:1.3em;
}

input[type=submit]:active {
	box-shadow: 0 0 #693434;
	position: relative;
	top:5px;

}














/*mediaqueries*/
@media screen and (max-width:1024px) and (min-width:769px) {
	.form{
		width: 100%;
	      }
	
	.submit{width:90%}
	.contact{
	     width: 100%;

	
	}
	.message-holder{
		width: 91%;
	}
	.team{
	  
	  margin: 8% 30%; 
	  
	}
	.thing{
		margin-left:18%;
	}
	
	 .row{
	 	margin:5% 30%;
	 }
     .desc{
     	padding: 20%;
     }
	.addons{
		width:100%;
	}
}


@media screen and (max-width: 768px) and (min-width:641px){
	.team {
	   margin-left: 20%;
	}
	.form{width: 90%;}
	.submit{width:90%}
	.contact{
		 width: 100%;
		}
	.row{
		margin-left: 15%;
	}
	.thing{
			margin-left: 15%;
	}
		
	.submit-holder{
		width:90%;

    }
    .big{
    	margin-left: -10%;
    }
    .words{
    	margin-top:  -25%;
    }
    .words p{
    	font-size: 3em;
    }
	
}


@media screen and (max-width: 640px) and (min-width:481px)  {
	.big{
		width:500px;
		height: 500px;
		margin-left:-8%;
	}
	.words{
		margin-top: -25%;
		margin-left: 12%;
	}
	.words p{
		font-size: 3em;
	}
	.form {
		width:80%;
		margin-left: -4%;
	}

	.message-holder textarea{
		height:300px;
	}
	.contacthead p{
		text-align: center;
	}
	.submit-holder{
		width: 100%;
		margin-left: -10%;
     }
     .addons{
     	padding-left: 30px;
     }
    .contact {
        padding:10%;
    }


	.message-holder{width: 93%;}
	.team{
		margin-left:10%;
	}
	.row{
		margin-left:2%;}

	
}

@media screen and (max-width: 480px){
  .big{
		width:500px;
		height: 500px;
		margin-left:-8%;
	}
	.words{
		margin-top: -25%;
		margin-left: 12%;
	}
	.words p{
		font-size: 3em;
	}
	.form {
		width:80%;
		margin-left: -4%;
	}

	.message-holder textarea{
		height:300px;
	}
	.contacthead p{
		text-align: center;
	}
	.submit-holder{
		width: 100%;
		margin-left: -10%;
     }
     .addons{
     	padding-left: 30px;
     }
    .contact {
        padding:10%;
    }


	.message-holder{width: 93%;}
	.team{
		margin-left:10%;
	}
	.row{
		margin-left:2%;
	}

	.desc { 
     padding-left: 5%;
     	
     }
	
  
}




